.icon-size {
	width: 1.5em;
	margin-top: -0.25em;
	margin-bottom: -0.25em;
	height: 1.5em;
}
.just-icon {
	width: 1.5em;
	margin-top: -0.25em;
	margin-bottom: -0.25em;
	height: 1.5em;
	svg {
		width: 1.5rem;
		height: 1.5rem;
	}
}
